body {
    min-width: 320px;
}

/*     generic    */

i {
    transition:all 1s;
}

/*      layout     */

.half-section-container {
    padding: 15px;
}

.half-section-wrapper {
    padding: 5px;
}

.vertical-hr {
    display: none;
}

.horizontal-hr {
    display: inline-block;
    width: 100%;
    background-color: #A2A2A2;
}

.page-border {
    border: solid #DEDEDE 1px;
    height: 100%;
    width: 100%;
    padding: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
}

/*    //layout       */

/*  king style button   */

.kings-button {
    background-image: linear-gradient(#e5cd32, #d8b92d, #BBA724);
    border: none;
    border-radius: 4px;
    color: white;
    font-family: 'Pacifico', cursive;
    padding: 4px 12px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: 0.9em;
}

.kings-button:hover {
    background-image: linear-gradient(#e0c82c, #e0c82c, #e0c82c);
    text-decoration:none;
}

.kings-button:active {
    background-image: linear-gradient(#BBA724, #d8b92d, #e5cd32);
}

.kings-shadow {
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
}

/*  //king style button    */

/*   icons    */

.fa-map-marker-alt {
    font-size: 18px;
    color: gray;
}

/*  // icons    */

/*    font    */

.kings-font {
    font-family: 'Pacifico', cursive;
}

.second-title-font {
    font-family: Pacifico, cursive;
    font-size: 50px;
}

.smaller-mobile-font {
    font-size:0.9em;
}

/*   //font   */

/*   //generic    */

/*       on sale       */

.on-sale {
    height: 25px;
    width: 100%;
    background-color: black;
    display: flex;
}

.on-sale a {
    color: #FEE997;
    margin: 12px;
}

.on-sale span {
    color: #379BFF;
}

.on-sale:hover {
    background-color:gold;
    text-decoration:none;
}

.on-sale:hover a {
    color: black;
    text-decoration:none;
}

.on-sale:hover span {
    color: white;
    text-decoration:none;
}

/*      //on sale       */

/*       navigation bar     */

.navbar {
    border: solid #7A873E 1px;
    background-color: white;
}

.navigation-button-container {
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

.fa-bars {
    color: #ccb82a;
}

.active-page-indicator {
    color: #91620D;
    text-decoration: underline;
    padding: 2px 13px;
    margin: 4px 0px;
}

.active-page-indicator:hover {
    text-decoration: underline;
    background-color: rgba(187, 167, 36, 0.2);
    border-radius: 2px;
    color: #91620D;
}

.active-page-indicator:active {
    color: white;
    background-color: rgb(187, 167, 36);
    border-radius: 2px;
}

.page-button {
    color: black;
    padding: 2px 13px;
    margin: 4px 0px;
}

.page-button:hover {
    color: black;
    background-color: rgba(187, 167, 36, 0.2);
    border-radius: 2px;
}

.page-button:active {
    color: white;
    background-color: rgb(187, 167, 36);
    border-radius: 2px;
}

.dropdown-item:hover {
    background-color: rgba(187, 167, 36, 0.2);
}

.dropdown-item:active {
    background-color: #BBA724;
}

.kings-search-box {
    border: solid rgba(146, 168, 33, 0.3) 1px;
    width: 150px;
}

.kings-search-button {
    background-color: #BBA724;
    color: black;
    border-radius: 4px;
    border: none;
    padding: 5px 15px;
    margin: 0px 10px;
}

.kings-search-button:hover {
    background-color: #ddc62e;
}

.kings-search-button:active {
    background-color: #6d6110;
}

.search-container {
    min-width: 330px;
    display: flex;
    justify-content: flex-start;
}

/*      //navigation bar     */

/*  ----------    (index.html)  ----------   */

/*    header     */

.landing-page-container {
    height: 90vh;
    min-height: 500px;
    background: url("../images/main-background-image-mobile.png")no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -10;
    background-position: 0% 00%;
}

.landing-background-container {
    width: 100%;
    height: 100%;
}

.landing-wrapper {
    width: 100%;
}

.landing-review {
    width: 100%;
    height: 60px;
}

.main-reviews-button a {
    width: 110px;
    margin-left: 65px;
    margin-bottom: 5px;
    color: white;
}

.main-reviews-button p {
    color: #D5DCD1;
}

/*    arrows animation     */

.home-arrow-container {
    display:flex;
    justify-content: center;
    height:60px;
}

.home-arrow-wrapper {
	display:inline-block;
    width:20px;
    margin-bottom:25px;
}

.arrow-top {
	width:10px;
	height:10px;
	border-right:solid 2px;
	border-bottom:solid 2px;
	transform:rotate(45deg);
	animation:arrows 1.5s ease-in-out infinite;
}

.arrow-mid {
	width:10px;
	height:10px;
	border-right:solid 2px;
	border-bottom:solid 2px;
	transform:rotate(45deg);
	animation:arrows 1.5s ease-in-out infinite;
	animation-delay: 0.5s; 
}

.arrow-bottom {
	width:10px;
	height:10px;
	border-right:solid 2px;
	border-bottom:solid 2px;
	transform:rotate(45deg);
	animation:arrows 1.5s ease-in-out infinite;
	animation-delay: 1s; 
}

@keyframes arrows {
	0% {border-color:rgb(255,255,255,1);}
	80% {border-color:rgb(255,255,255,0);}
	100% {border-color:rgb(255,255,255,0);}
}

/*   //arrow animation    */

/*   check in dates-form    */

.landing-dates-container {
    width: 100%;
    background: linear-gradient(rgb(255, 255, 255),rgba(230,230,230,1));
    border-radius: 10px 10px 0px 0px;
    border: solid #7A873E 1px;
}

.home-check-dates-container {
    width:100%;
}


/*   //check in dates-form    */

/*   // header     */

/*   windows    */

.windows {
    background: url("../images/windows.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 150px;
    z-index: 2;
}

.windows-background {
    height: 150px;
    background: url("../images/windows-background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*   //windows    */

/*  landing video and location section  */

.pictures-more-container {
    height: 50px;
    padding-bottom: 18px;
    background-color: #F1F1F1;
}

.landing-background-color {
    background-color: #F1F1F1;
}

.landing-section-background-color {
    background-color: white;
}

/* //landing video and location section   */

/*  ---------  // (index.html)  ----------   */

/*  ---------  (hotel-info.html)  ---------   */

/*         picture section       */

.picture-section-background {
    background: url("../images/hotel-info-pictures-background.jpg")no-repeat;
    background-size: cover;
}

.picture-section-height {
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-container {
    padding: 5px;
    max-width: 720px;
}

.picture-wrapper {
    display: inline-block;
    border: solid black 1px;
    background-color: rgba(70, 200, 200, 0.2);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

.picture-wrapper img {
    width: 100%;
}

.ipad-view-picture {
    display: none;
}

.desktop-view-picture {
    display: none;
}

.picture-background-overlay-empty {
    height: 5px;
}

.view-on-map {
   height:70px;
}

.view-on-map h5 {

}

/*  //  picture section       */

/*    log rating section  */

/* colours */

.rating-color--staff {
    color: #CF863C;
}

.rating-color--comfort {
    color: #FFB56A;
}

.rating-color--cleanliness {
    color: #CE5756;
}

.rating-color--wifi {
    color: #8B7A68;
}

.rating-color--location {
    color: #EEB071;
}

.rating-color--faculties {
    color: #B87836;
}

/* //colours */

/*    log rating style  */

.rating-background-image {
    background: url("../images/ratings-background.jpg");
    background-size: cover;
}

.top-rating-container {}

.rating-container {
    display: inline-block;
    margin: 19px;
}

.rating-wrapper {
    width: 70px;
    height: 70px;
    background-image: url("../images/log-ratings.png");
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 14px rgb(50, 50, 50);
    border: solid #ffecc7 0.4px;
}

.rating-indicator {
    position: relative;
}

.rating-percent {
    position: absolute;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    z-index: 5;
    background-color: #f0d7bd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-percent p {
    font-family: 'Pacifico', cursive;
    color: black;
    font-size: 20px;
    margin-bottom: 8px;
}

/*  // log rating style   */

/*      rating title container top    */

.rating-title-container-top {
    height: 55px;
    background-color: white;
    border: solid #7A873E 1px;
    border-radius: 10px 10px 0px 0px;
}

.rating-title-container-top h5 {
    margin-top: 15px;
    margin-right: 16px;
    margin-left: 16px;
}

.desktop-only {
    display: none;
}

/*  //  rating title container top    */

/*      rating title container bottom  (Mobile only)  */

.rating-title-container-bottom {
    height: 55px;
    background-color: white;
    border: solid #7A873E 1px;
    border-radius: 10px 10px 10px 10px;
}

.rating-title-container-bottom h5 {
    margin-top: 15px;
    margin-right: 16px;
    margin-left: 16px;
}

/*  //  rating title container bottom  (Mobile only)  */

/*   //  log rating section  */

/*    information and prices section    */

.information-half-section {
    height:200px;
}

.information-full-section {
    height:470px;
}

.landmark-list {
    padding:15px;
    margin-top:0px;
    margin-bottom:0px;
}

.no-bullet-points {
    list-style: none;
}

.no-bullet-points li i {
    margin-right:8px;
}

/*  cost per night section   */

.room-per-night-container {
    border:solid 1px #DEDEDE;
    border-top:solid 4px #8F8436;
}

.info-dates-wrapper {
    width:45%;
}

/*   // cost per night section   */

/*   // information and prices section  */

/*     packages section     */

.kings-package-section-background {
    background:url("../images/kings-package-background.png")no-repeat center center;
    height:670px;
    background-size:cover;
    padding:0;
}

.packages-title {
    text-decoration:underline;
}

.packages-color--king {
    color:#F2C7A2;
}

.walkers-package-section-background {
    background:url("../images/walker-package-background.png")no-repeat center center;
    height:670px;
    background-size:cover;
    padding:0;
    border-top:solid white 1px;
    border-bottom:solid white 1px;
}

.packages-color--walkers {
    color:#EFFFE5;
}

.walker-package-margin-section {
    margin-bottom: 75px;
}

.fearless-package-section-background {
    background:url("../images/fearless-package-background.png")no-repeat center center;
    height:670px;
    background-size:cover;
    padding:0;
}

.fearless-container {
    margin-bottom:125px;
    margin-left:10px;
    margin-right:10px; 
}

.packages-color--fearless {
    color:#DCEAFF;
}

.packages-color--gold {
    color:#E5C352;
    transition:all 1s;
}

.packages-color--gold-button:hover {
    color:#feffe3;
    text-decoration:none;
}

.packages-color--gold-button:hover i {
    color:#feffe3;
    text-decoration:none;
    transform: rotate(180deg)
}

.packages-alpha-over {
    background-color:rgba(0,0,0,0.85);
    padding-right:30px;
    padding-left:30px;
    padding-top:10px;
    padding-bottom:10px;
    height:100%;
}

.learn-more-modal-button {
    border:none;
}

/*  //packages section  */

/*  guest reviews portion   */

.review-background-page {
	background:url("../images/paper-background.png")no-repeat center center;
	background-size:cover;
	display:flex;
	justify-content:center;
	align-items:center;
	}

.review-container {
    padding:0px;
    padding-top: 90px;
	max-width:800px;
}

.reviews-title {
    position:relative;
    bottom:20px;
}

.review-image-wrapper--green {
	width:50px;
	height:50px;
	border:solid #DCCE73 4px;
	border-radius:50%;
	overflow:hidden;
	float:left;
}

.review-image-wrapper--red {
	width:50px;
	height:50px;
	border:solid #E9BA9B 4px;
	border-radius:50%;
	overflow:hidden;
	float:right;
}

.review-image-size {
	width:100%;
	height:100%;
}

.review-hr {
	width:100%;
}

/*   //guest reviews portion   */

/*  --------- //(hotel-info.html)  ---------   */

/*  ---------   (book-now.html)  ---------   */

.line-height {
    line-height: 0.9em;
}

.contactus-background-image {
    background:url("../images/mobile-contact-us-background.png")no-repeat bottom right;
    background-size:cover;
}

.booknow-section-background {
    background-color:rgba(231, 231, 231, 0.83);
    min-height: 400px;
    padding: 5px;
}

/*  --------- // (book-now.html)  ---------   */

/*       footer         */

footer {
    height: 235px;
    background-color: #DCCE73;
    border: solid 1px #707070;
}

.fab {
    transition: all .4s;
    font-size: 24px;
    color: #BBA724;
    margin: 0px 4px;
}

.fa-facebook-square:hover {
    color: #3b5998;
}

.fa-twitter-square:hover {
    color: #38A1F3;
}

.fa-pinterest-square:hover {
    color: #c8232c
}

.fa-instagram:hover {
    color: #e56649;
}

.footer-container {
    height: 100%;
    padding: 0px 25px;
    margin: 0;
}

.footer-social-container {
    display: flex;
    justify-content: center;
    padding: 5px;
    align-items: center;
}

.footer-social-container h6 {
    margin: 0px 10px;
}

.footer-address-container {
    display: flex;
    justify-content: center;
    padding: 5px;
    align-items: center;
}

.footer-address-container p {
    margin: 0px 10px;
}

.footer-contact-container {
    display: flex;
    justify-content: center;
    padding: 5px;
    align-items: center;
}

.footer-contact-container p {
    margin: 0px 10px;
}

.footer-buttons-container {
    display: flex;
    justify-content: center;
    padding: 5px;
    align-items: center;
}

.footer-divider {
    width: 1px;
    height: 30px;
    background-color: #707070;
}

.footer-buttons {
    margin: 0px 14px;
}

.footer-buttons:hover {
    text-decoration:none;
}

/*      //footer        */

/*     media queries        */

@media (min-width: 540px) {
    /*  ----- (hotel-info.html)   ------ */
    .picture-wrapper {
        width: 49%;
        margin-bottom: 5px;
    }
    .ipad-view-picture {
        display: inline-block;
    }
    /*  ----- // (hotel-info.html)   ------ */
    /*  -----  (book-now.html)  ------ */
    .smaller-mobile-font {
        font-size:1em;
    }
    /*  ----- // (book-now.html)  ------ */
}

@media (min-width: 566px) {
    
}

@media (min-width: 640px) {
    /* ----- (hotel-info.html)   ------ */
    .desktop-only {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .mobile-only {
        display: none;
    }
    /* ----- // (hotel-info.html)   ------ */
}

@media (min-width: 670px) {
    .top-information-container {
        display: flex;
        justify-content: center;
    }
    
}

@media (min-width: 768px) {
    /*  -----  (index.html)   ------ */
    .home-arrow-container {
        justify-content:flex-end;
        margin-right:10px;
    }
    .checkin-form div {
        margin-right: 30px;
    }
    /*  ----- // (index.html)   ------ */
    /*  -----  (hotel-info.html)  ------ */
    .review-background-page {
        background:url("../images/reviews-background.png")no-repeat center center;
        background-size:cover;
        height:950px;
        }
    .review-container {
            padding-top:220px;
        }
    .review-image-wrapper--red {
            float:left;
        }
    /*  -----  //(hotel-info.html)  ------ */
    /*     footer      */
    footer {
        height: 95px;
    }
    /*   //footer     */
}


@media (min-width: 930px) {
    /*     layout     */
    .half-section-container {
        display: flex;
        justify-content: center;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .half-section-wrapper {
        display: inline-block;
        width: 40%;
    }
    .vertical-hr {
        display: inline-block;
        border-right: solid #A2A2A2 1px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .horizontal-hr {
        display: none;
    }
    /*      //layout       */
    /*  -----  (hotel-info.html)   ------ */
    .picture-container {
        max-width: 840px;
    }

    .picture-wrapper {
        width: 31.25%;
        margin: 7px;
    }
    .desktop-view-picture {
        display: inline-block;
    }
    /*  ----- // (hotel-info.html)   ------ */
    .contactus-background-image {
        background:url("../images/contact-page.png")no-repeat bottom center;
        background-size:cover;
    }
}

@media (min-width: 992px) {
    /*        navigation bar     */
    .navbar {
        font-size: 0.7em;
        padding: 2px;
    }
    .dropdown-item {
        font-size: 0.7em;
    }
    .navigation-button-container {
        justify-content: center;
    }
    .nav-link {
        margin: 0px 15px;
    }
    /*      //navigation bar     */
    .home-check-dates-container {
        width:600px;
    }
    /*  ------ (hotel-info) ------ */
    .information-full-section {
        height:449px;
    }
    .landmark-list {
        margin-top:30px;
        margin-bottom:30px;
    }
    .landmark-list li {
        line-height:1.6;
    }
    .top-information-container {
        display: inline-block;
    }
    .information-vertical-border {
        border-right: solid green 1px;
        border-left: solid green 1px;
    }
    .walkers-package-section-background {
        border:none;
        border-right:solid white 1px;
        border-left:solid white 1px;
    }
    /*  ------ //(hotel-info) ------ */
}

@media (min-width: 1115px) {
    /*  ------  (index.html) ------ */
    .landing-page-container {
        background: url("../images/main-background.png")no-repeat center center;
        background-position: 43% 50%;
    }
    /*  ------ // (index.html) ------ */
}

@media (min-width: 1190px) {
	.review-background-page {
	background:url("../images/reviews-background.png")no-repeat center center;
	background-size:cover;
	height:1100px;
	padding-left:150px;
	padding-right:150px;
}
	.review-container {
		padding-top:220px;
    }
    .reviews-title {
        bottom:50px;
    }
}

@media (min-width: 1200px) {
    /*         footer         */
    footer {
        height: 50px;
    }
    .footer-socaial-container {
        justify-content: flex-start;
        padding: 0;
    }
    .footer-address-container {
        justify-content: center;
        padding: 0;
    }
    .footer-contact-container {
        padding: 0;
    }
    .footer-buttons-container {
        justify-content: flex-end;
        padding: 0;
    }
    /*         //footer         */
}

/*     //media queries        */