body {
    min-width: 320px;
}

/*     generic    */

/*      layout     */

.half-section-container {
    padding: 15px;
}

.half-section-wrapper {
    padding: 5px;
}

.vertical-hr {
    display: none;
}

.horizontal-hr {
    display: inline-block;
    width: 100%;
    background-color: #A2A2A2;
}

.page-border {
    border: solid #DEDEDE 1px;
    height: 100%;
    width: 100%;
    padding: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
}

/*    //layout       */

/*  king style button   */

.kings-button {
    background-image: linear-gradient(#e5cd32, #d8b92d, #BBA724);
    border: none;
    border-radius: 4px;
    color: white;
    font-family: 'Pacifico', cursive;
    padding: 4px 12px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: 0.9em;
}

.kings-button:hover {
    background-image: linear-gradient(#e0c82c, #e0c82c, #e0c82c);
}

.kings-button:active {
    background-image: linear-gradient(#BBA724, #d8b92d, #e5cd32);
}

.kings-font {
    font-family: 'Pacifico', cursive;
}

/*  //king style button    */

/*   icons    */

.fa-map-marker-alt {
    font-size: 18px;
    color:gray;
}

/*  // icons    */

/*   //generic    */

/*       on sale       */

.on-sale {
    height: 25px;
    width: 100%;
    background-color: black;
    display: flex;
}

.on-sale p {
    color: #FEE997;
    margin: 12px;
}

.on-sale span {
    color: #379BFF;
}

/*      //on sale       */

/*       navigation bar     */

.navbar {
    border: solid #7A873E 1px;
    background-color: white;
}

.navigation-button-container {
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

.fa-bars {
    color: #ccb82a;
}

.active-page-indicator {
    color: #91620D;
    text-decoration: underline;
    padding: 2px 13px;
    margin: 4px 0px;
}

.active-page-indicator:hover {
    text-decoration: underline;
    background-color: rgba(187, 167, 36, 0.2);
    border-radius: 2px;
    color: #91620D;
}

.active-page-indicator:active {
    color: white;
    background-color: rgb(187, 167, 36);
    border-radius: 2px;
}

.page-button {
    color: black;
    padding: 2px 13px;
    margin: 4px 0px;
}

.page-button:hover {
    color: black;
    background-color: rgba(187, 167, 36, 0.2);
    border-radius: 2px;
}

.page-button:active {
    color: white;
    background-color: rgb(187, 167, 36);
    border-radius: 2px;
}

.dropdown-item:hover {
    background-color: rgba(187, 167, 36, 0.2);
}

.dropdown-item:active {
    background-color: #BBA724;
}

.kings-search-box {
    border: solid rgba(146, 168, 33, 0.3) 1px;
    width: 150px;
}

.kings-search-button {
    background-color: #BBA724;
    color: black;
    border-radius: 4px;
    border: none;
    padding: 5px 15px;
    margin: 0px 10px;
}

.kings-search-button:hover {
    background-color: #ddc62e;
}

.kings-search-button:active {
    background-color: #6d6110;
}

.search-container {
    min-width: 330px;
    display: flex;
    justify-content: flex-start;
}

/*      //navigation bar     */

/*  ----------    (index.html)  ----------   */

/*    header     */

.landing-page-container {
    height: 90vh;
    min-height: 500px;
    background: url("../images/main-background-image-mobile.png")no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -10;
    background-position: 0% 00%;
}

.landing-background-container {
    width: 100%;
    height: 100%;
}

.landing-wrapper {
    width: 100%;
}

.landing-review {
    width: 100%;
    height: 80px;
}

.main-reviews-button a {
    width: 110px;
    margin-left: 65px;
    margin-bottom: 5px;
    color: white;
}

.main-reviews-button p {
    color: #D5DCD1;
}

/*   check in dates-form    */

.landing-dates-container {
    width: 100%;
    height: 130px;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    border: solid #7A873E 1px;
}

.landing-dates-wrapper {
    margin: 0 auto;
}

.checkin-form div {
    display: inline-block;
}

.checkin-form div p {
    margin: 0;
}

input[type="number"] {
    width: 50px;
    border-radius: 2px;
    border: #707070 solid 1px;
    background-color: #FAFBDA;
}

input[type="date"] {
    width: 150px;
    border-radius: 2px;
    border: #707070 solid 1px;
    background-color: #FAFBDA;
}

/*   //check in dates-form    */

/*   // header     */

/*   windows    */

.windows {
    background: url("../images/windows.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 150px;
    z-index: 2;
}

.windows-background {
    height: 150px;
    background: url("../images/windows-background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*   //windows    */

/*  landing video and location section  */

.pictures-more-container {
    height: 50px;
    padding-bottom: 18px;
    background-color: #F1F1F1;
}

.landing-background-color {
    background-color: #F1F1F1;
}

.landing-section-background-color {
    background-color: white;
}

/* //landing video and location section   */

/*  ---------  // (index.html)  ----------   */

/*  ---------  (hotel-info.html)  ---------   */

/*         picture section       */

.picture-section-background {
    background: url("../images/hotel-info-pictures-background.jpg")no-repeat;
    background-size:cover:;
}

.picture-section-height {
    display:flex;
    justify-content:center;
    align-items:center;
    
}

.picture-container {
    padding: 5px;
    max-width: 720px;
}

.picture-wrapper {
    display: inline-block;
    border: solid black 1px;
    background-color: rgba(70, 200, 200, 0.2);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

.picture-wrapper img {
    width: 100%;
}

.ipad-view-picture {
    display: none;
}

.desktop-view-picture {
    display: none;
}

.pictures-view-on-map {

}

.picture-background-overlay-empty {
    height:5px;
}

/*  //  picture section       */

/*      rating title container top    */

/* colours */

.rating-color--staff {
    color:#CF863C;
}

.rating-color--comfort {
    color:#FFB56A;
}

.rating-color--cleanliness {
    color:#CE5756;
}

.rating-color--wifi {
    color:#8B7A68;
}

.rating-color--location {
    color:#EEB071;
}

.rating-color--faculties {
    color:#B87836;
}

/* //colours */

.rating-title-container-top {
    height: 55px;
    background-color: white;
    border:solid #7A873E 1px;
    border-radius: 10px 10px 0px 0px;
}

.rating-title-container-top h5 {
    margin-top: 15px;
    margin-right:16px;
    margin-left:16px;
}



/*  //  rating title container top    */

/*      rating indicators top       */

.rating-background-image {
    background:url("../images/ratings-background.jpg");
    background-size:cover;
}

/*   // rating indicators top       */

/*      rating title container bottom  (Mobile only)  */

.rating-title-container-bottom {
    height: 55px;
    background-color: white;
    border:solid #7A873E 1px;
    border-radius: 10px 10px 10px 10px;
}

.rating-title-container-bottom h5 {
    margin-top: 15px;
    margin-right:16px;
    margin-left:16px;
}

/*  //  rating title container bottom  (Mobile only)  */

/*      rating indicators bottom   (Mobile only)    */

/*   // rating indicators bottom   (Mobile only)    */

/*  --------- //(hotel-info.html)  ---------   */

/*  ---------   (book-now.html)  ---------   */

.booknow-header-font h2 {
    font-family: Pacifico, cursive;
    font-size: 50px;
}

.booknow-section-background {
    background-color: rgba(255, 255, 255, 0.9);
    min-height: 400px;
    padding: 5px;
}

/*  --------- // (book-now.html)  ---------   */

/*       footer         */

.footer {
    height: 235px;
    background-color: #DCCE73;
    border: solid 1px #707070;
}

.fab {
    transition: all .4s;
    font-size: 24px;
    color: #BBA724;
    margin: 0px 4px;
}

.fa-facebook-square:hover {
    color: #3b5998;
}

.fa-twitter-square:hover {
    color: #38A1F3;
}

.fa-pinterest-square:hover {
    color: #c8232c
}

.fa-instagram:hover {
    color: #e56649;
}

.footer-container {
    height: 100%;
    padding: 0px 25px;
    margin: 0;
}

.footer-social-container {
    display: flex;
    justify-content: center;
    padding: 5px;
    align-items: center;
}

.footer-social-container h6 {
    margin: 0px 10px;
}

.footer-address-container {
    display: flex;
    justify-content: center;
    padding: 5px;
    align-items: center;
}

.footer-address-container p {
    margin: 0px 10px;
}

.footer-contact-container {
    display: flex;
    justify-content: center;
    padding: 5px;
    align-items: center;
}

.footer-contact-container p {
    margin: 0px 10px;
}

.footer-buttons-container {
    display: flex;
    justify-content: center;
    padding: 5px;
    align-items: center;
}

.footer-divider {
    width: 1px;
    height: 30px;
    background-color: #707070;
}

.footer-buttons {
    margin: 0px 14px;
}

/*      //footer        */

/*     media queries        */

@media (min-width: 540px) {
    /*  ----- (hotel-info.html)   ------ */
    .picture-wrapper {
        width: 49%;
        margin-bottom: 5px;
    }
    .ipad-view-picture {
        display: inline-block;
    }
    /*  ----- // (hotel-info.html)   ------ */
}

@media (min-width: 566px) {
    /*  -----  (index.html)   ------ */
    .landing-dates-container {
        height: 70px;
    }

    /*  -----  //(indexo.html)   ------ */
}


@media (min-width: 768px) {
    /*  -----  (index.html)   ------ */
    .checkin-form div {
        margin-right: 30px;
    }
    /*  ----- // (index.html)   ------ */
    /*     footer      */
    .footer {
        height: 95px;
    }
    /*   //footer     */
}


@media (min-width: 930px) {
    /*     layout     */
    .half-section-container {
        display: flex;
        justify-content: center;
        padding-left: 40px;
        padding-right: 40px;
    }

    .half-section-wrapper {
        display: inline-block;
        width: 40%;
    }
    .vertical-hr {
        display: inline-block;
        border-right: solid #A2A2A2 1px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .horizontal-hr {
        display: none;
    }
    /*      //layout       */
    /*  -----  (hotel-info.html)   ------ */
    .picture-container {
        max-width: 840px;
    }

    .picture-wrapper {
        width: 30%;
        margin: 7px;
    }
    .desktop-view-picture {
        display: inline-block;
    }

    /*  ----- // (hotel-info.html)   ------ */
}

@media (min-width: 992px) {
    /*        navigation bar     */
    .navbar {
        font-size: 0.7em;
        padding: 2px;
    }
    .dropdown-item {
        font-size: 0.7em;
    }
    .navigation-button-container {
        justify-content: center;
    }
    .nav-link {
        margin: 0px 15px;
    }
    /*      //navigation bar     */
    /*  ------  (index.html) ------ */
    .landing-page-container {
        background: url("../images/main-background.png")no-repeat center center;
        background-position: 43% 50%;
    }
    /*  ------ // (index.html) ------ */
}

@media (min-width: 1200px) {
    /*         footer         */
    .footer {
        height: 50px;
    }
    .footer-socaial-container {
        justify-content: flex-start;
        padding: 0;
    }
    .footer-address-container {
        justify-content: center;
        padding: 0;
    }
    .footer-contact-container {
        padding: 0;
    }
    .footer-buttons-container {
        justify-content: flex-end;
        padding: 0;
    }
    /*         //footer         */
}

/*     //media queries        */
